
<html ng-app="openchallenge" ng-controller="rootController">
  <head>
    <title>OpenChallenge</title>
    <link rel="stylesheet" href="css/lib.min.css"/>
    <link rel="stylesheet" href="css/main.min.css"/>
    <meta charset="UTF-8"/>
    <meta name="description" content="An open source tournament bracket and user management system"/>
    <meta name="author" content="Kyle J. Kemp (seiyria)"/>
    <meta name="viewport" content="initial-scale=1"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="theme-color" content="#3F51B5"/>
    <meta name="msapplication-navbutton-color" content="#3F51B5"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#3F51B5"/>
  </head>
  <body layout="column" ng-cloak="ng-cloak">
    <md-toolbar layout="row" ng-controller="navController" ng-include="'navbar'"></md-toolbar>
    <div layout="row" flex="flex">
      <md-sidenav layout="column" ng-if="sidebar.hasSidebar" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" ui-view="sidebar" md-swipe-left="dismissSidebar()" class="md-sidenav-left md-whiteframe-z2"></md-sidenav>
      <div layout="column" flex="flex">
        <md-content layout="column" layout-padding="layout-padding" flex="flex" ui-view="content"></md-content>
      </div>
    </div>
    <script src="js/lib.min.js"></script>
    <script src="js/main.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>
  </body>
</html>
<script type="text/ng-template" id="/home">
  <div layout="row" flex="flex">
    <div flex="flex">
      <div class="text-center">OpenChallenge is a great way to manage your tournaments. It supports many features.</div>
    </div>
  </div>
  <div layout-gt-sm="row" layout="column" flex="flex" class="text-center">
    <div flex-gt-sm="33" flex-sm="100" ng-repeat="block in blocks" class="text-center padding-50">
      <ng-md-icon icon="{{block.icon}}" size="100"></ng-md-icon>
      <div class="md-title">{{block.name}}</div>
      <p>{{block.info}}</p>
    </div>
  </div>
</script>
<script type="text/ng-template" id="navbar">
  <div class="md-toolbar-tools">
    <md-button hide-gt-sm="hide-gt-sm" ng-if="sidebar.hasSidebar" ng-click="toggleList()" aria-label="Toggle Menu">
      <ng-md-icon icon="menu" style="fill: white">
        <md-tooltip>Open Navigation</md-tooltip>
      </ng-md-icon>
    </md-button>
    <h1><a ui-sref="home">OpenChallenge</a></h1><span flex="flex"></span>
    <md-menu ng-if="!userStatus.loggedIn">
      <md-button ng-click="$mdOpenMenu($event)">Login</md-button>
      <md-menu-content>
        <md-menu-item ng-repeat="login in auth.loginTypes">
          <md-button ng-click="auth.doLogin(login.name)">
            <ng-md-icon icon="{{login.icon}}" size="24"></ng-md-icon><span>&nbsp;Login with {{login.name}}</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-menu ng-if="userStatus.loggedIn">
      <md-button ng-click="$mdOpenMenu($event)">
        <ng-md-icon hide-gt-sm="hide-gt-sm" icon="{{ connected ? 'cloud' : 'cloud_off'}}" size="24" style="fill: white" class="no-transform"></ng-md-icon>
        <ng-md-icon hide-sm="hide-sm" icon="{{ connected ? 'cloud' : 'cloud_off'}}" size="24" style="fill: white">
          <md-tooltip>Currently {{ connected ? 'online' : 'offline' }}</md-tooltip>
        </ng-md-icon><span hide-sm="hide-sm">&nbsp;{{userStatus.displayName}}</span>
      </md-button>
      <md-menu-content>
        <md-menu-item hide-gt-sm="hide-gt-sm" disabled="disabled">
          <md-button disabled="disabled">
            <ng-md-icon icon="account_circle" size="24"></ng-md-icon><span>&nbsp;{{userStatus.displayName}}</span>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="userManage">
            <ng-md-icon icon="group" size="24"></ng-md-icon><span>&nbsp;Player Panel</span>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="eventManage">
            <ng-md-icon icon="assignment" size="24"></ng-md-icon><span>&nbsp;Event Panel</span>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="tournamentManage">
            <ng-md-icon icon="merge_type" size="24"></ng-md-icon><span>&nbsp;Tournament Panel</span>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="userSettingsCtrl">
            <ng-md-icon icon="settings" size="24"></ng-md-icon><span>&nbsp;Settings</span>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="auth.doLogout()">
            <ng-md-icon icon="logout" size="24"></ng-md-icon><span>&nbsp;Logout</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</script>
<script type="text/ng-template" id="/tournament-sidebar">
  <md-toolbar>
    <div class="md-toolbar-tools">Navigation</div>
  </md-toolbar>
  <md-list>
    <md-list-item ng-click="navigateTo('userManage')" class="md-2-line">
      <ng-md-icon icon="group" size="36" class="md-avatar"></ng-md-icon>
      <div class="md-list-item-text"><span>Player Panel</span>
        <p>Manage players</p>
      </div>
    </md-list-item>
    <md-list-item ng-click="navigateTo('eventManage')" class="md-2-line">
      <ng-md-icon icon="assignment" size="36" class="md-avatar"></ng-md-icon>
      <div class="md-list-item-text"><span>Event Panel</span>
        <p>Manage events</p>
      </div>
    </md-list-item>
    <md-list-item ng-click="navigateTo('tournamentManage')" class="md-2-line">
      <ng-md-icon icon="merge_type" size="36" class="md-avatar"></ng-md-icon>
      <div class="md-list-item-text"><span>Tournament Panel</span>
        <p>Manage tournaments</p>
      </div>
    </md-list-item>
    <md-list-item ng-click="navigateTo('userSettings')" class="md-2-line">
      <ng-md-icon icon="settings" size="36" class="md-avatar"></ng-md-icon>
      <div class="md-list-item-text"><span>Settings</span>
        <p>User ID, Export, Import</p>
      </div>
    </md-list-item>
  </md-list>
</script>
<script type="text/ng-template" id="/tournaments">
  <div>hi tourn</div>
</script>
<script type="text/ng-template" id="/user-manage">
  <md-card>
    <md-data-table-toolbar ng-hide="selected.length || filter.show">
      <h2 class="md-title">
        <ng-md-icon size="24" icon="warning" ng-if="!isMine">
          <md-tooltip>This set was not made by you</md-tooltip>
        </ng-md-icon>&nbsp;Player Management ({{setObject.realName || 'none'}})
      </h2>
      <div flex="flex"></div>
      <md-button ng-click="filter.show = true" aria-label="search" class="md-icon-button">
        <ng-md-icon icon="search" size="24">
          <md-tooltip>Search for players</md-tooltip>
        </ng-md-icon>
      </md-button>
      <md-button ng-click="addItem($event)" aria-label="add user" class="md-icon-button">
        <ng-md-icon icon="group_add" size="24">
          <md-tooltip>Add new player</md-tooltip>
        </ng-md-icon>
      </md-button>
    </md-data-table-toolbar>
    <md-data-table-toolbar ng-show="filter.show &amp;&amp; !selected.length">
      <ng-md-icon icon="search" size="24"></ng-md-icon>
      <form flex="flex" name="filter.form">
        <input type="text" ng-model="datatable.filter" ng-model-options="filter.options" placeholder="Search..."/>
      </form>
      <md-button ng-click="hideSearch()" aria-label="hide search" class="md-icon-button">
        <ng-md-icon icon="close">
          <md-tooltip>Close search</md-tooltip>
        </ng-md-icon>
      </md-button>
    </md-data-table-toolbar>
    <md-data-table-toolbar ng-show="selected.length">
      <div>{{selected.length}} {{selected.length > 1 ? 'people' : 'person'}} selected</div>
      <div flex="flex"></div>
      <md-button ng-if="selected.length &gt; 1" class="md-raised md-primary">Start Tournament</md-button>
      <md-button ng-if="selected.length == 1" aria-label="edit user" class="md-icon-button">
        <ng-md-icon icon="edit" ng-click="editItem($event)">
          <md-tooltip>Edit player</md-tooltip>
        </ng-md-icon>
      </md-button>
      <md-button ng-click="ng-click" aria-label="remove users" class="md-icon-button">
        <ng-md-icon icon="delete" ng-click="removeItem($event)">
          <md-tooltip>Remove player</md-tooltip>
        </ng-md-icon>
      </md-button>
    </md-data-table-toolbar>
    <md-data-table-container>
      <table md-data-table="md-data-table" md-row-select="selected">
        <thead md-order="datatable.order" md-trigger="getUsers">
          <tr>
            <th name="Name" order-by="name"></th>
            <th name="Location" order-by="location"></th>
            <th name="Wins" numeric="numeric" order-by="wins"></th>
            <th name="Losses" numeric="numeric" order-by="losses"></th>
            <th name="Points" numeric="numeric" order-by="points"></th>
            <th name="Aliases, Games, Characters"></th>
          </tr>
        </thead>
        <tbody>
          <tr md-auto-select="md-auto-select" ng-repeat="user in visibleUsers">
            <td>{{user.name}}</td>
            <td>{{user.location}}</td>
            <td>{{user.wins || 0}}</td>
            <td>{{user.losses || 0}}</td>
            <td>{{user.points || 0}}</td>
            <td>
              <md-button ng-click="viewItem($event, user)" class="md-raised md-accent">View Info</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>
    <md-data-table-pagination md-row-select="[10, 25, 50]" md-limit="datatable.limit" md-page="datatable.page" md-total="{{users.length}}" md-trigger="getUsers"></md-data-table-pagination>
  </md-card>
  <div class="abs-position-bottom-right">
    <md-fab-speed-dial md-direction="up" md-open="isOpen" ng-mouseleave="isOpen = false" class="md-scale">
      <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu or switch set" ng-click="doOrOpen($event)" ng-mouseenter="isOpen = true" class="md-fab md-primary">
          <ng-md-icon size="24" icon="{{isOpen &amp;&amp; hasMultipleSets() ? 'my_library_books' : 'menu'}}" style="fill: white"></ng-md-icon>
          <md-tooltip md-direction="left" ng-if="hasMultipleSets()">Change current player set</md-tooltip>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions ng-if="isOpen">
        <md-button aria-label="new set" ng-click="doNewSet($event)" class="md-fab md-raised md-accent md-hue-1">
          <ng-md-icon size="24" icon="add_circle" style="fill: white"></ng-md-icon>
          <md-tooltip md-direction="left">Create new player set</md-tooltip>
        </md-button>
        <md-button aria-label="rename set" ng-click="doRename($event)" ng-if="ownsCurrentSet()" class="md-fab md-raised md-accent md-hue-1">
          <ng-md-icon size="24" icon="edit" style="fill: white"></ng-md-icon>
          <md-tooltip md-direction="left">Rename current player set</md-tooltip>
        </md-button>
        <md-button aria-label="export to set" ng-if="false" class="md-fab md-raised md-accent md-hue-1">
          <ng-md-icon size="24" icon="input" style="fill: white"></ng-md-icon>
          <md-tooltip md-direction="left">Export to another player set</md-tooltip>
        </md-button>
        <md-button aria-label="share set" ng-click="openShareDialog($event)" ng-if="ownsCurrentSet()" class="md-fab md-raised md-warn md-hue-1">
          <ng-md-icon size="24" icon="share" style="fill: white"></ng-md-icon>
          <md-tooltip md-direction="left">Share this player set</md-tooltip>
        </md-button>
        <md-button aria-label="delete set" ng-click="doDelete($event)" ng-if="ownsCurrentSet() &amp;&amp; hasMultipleSets()" class="md-fab md-raised md-warn md-hue-1">
          <ng-md-icon size="24" icon="delete" style="fill: white"></ng-md-icon>
          <md-tooltip md-direction="left">Remove this player set</md-tooltip>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
</script>
<script type="text/ng-template" id="/user-settings">
  <md-card>
    <md-list>
      <md-subheader>User Information</md-subheader>
      <md-list-item class="md-3-line">
        <ng-md-icon icon="local_offer" size="36" class="md-avatar"></ng-md-icon>
        <div layout="column" class="md-list-item-text">
          <h3>User ID</h3>
          <h4>{{shareId}}</h4>
          <p>Give this ID to others for them to share with you</p>
        </div>
      </md-list-item>
    </md-list>
  </md-card>
</script>
<script type="text/ng-template" id="/dialog/adduser">
  <md-dialog>
    <md-dialog-content>
      <h2 ng-if="!viewOnly" class="md-title">{{label}} Player</h2>
      <h2 ng-if="viewOnly" class="md-title">{{item.name}} from {{item.location}}</h2>
      <p ng-if="item.form.$submitted &amp;&amp; item.form.$invalid" layout="row" layout-align="start center" class="md-warn">
        <ng-md-icon icon="error"></ng-md-icon><span>&nbsp;All fields are required.</span>
      </p>
      <form name="item.form" ng-submit="addItem()">
        <div layout="row" ng-if="!viewOnly" class="input-row">
          <md-input-container flex="flex">
            <label>Name</label>
            <input name="name" ng-model="item.name" md-maxlength="30" required="required"/>
          </md-input-container>
          <md-autocomplete flex="flex" required="required" md-input-name="location" md-selected-item="selectedlocation" md-floating-label="Location" md-search-text="item.location" md-items="place in getLocations(item.location)" md-item-text="place" md-input-maxlength="30">
            <md-item-template><span md-highlight-text="searchText">{{place}}</span></md-item-template>
            <md-not-found>No matches.</md-not-found>
          </md-autocomplete>
        </div>
        <h3 class="md-subhead">Aliases</h3>
        <div layout="row" class="input-row">
          <md-chips flex="flex" ng-model="item.aliases" secondary-placeholder="Add aliases" placeholder="+Alias" required="required" readonly="viewOnly"><span md-highlight-text="searchText">{{item}}</span></md-chips>
          <md-chip ng-if="item.aliases.length === 0 &amp;&amp; viewOnly">None</md-chip>
        </div>
        <h3 class="md-subhead">Games Played</h3>
        <div layout="row" class="input-row">
          <md-chips flex="flex" ng-model="item.games" secondary-placeholder="Add games" placeholder="+Game" required="required" md-autocomplete-snap="md-autocomplete-snap" readonly="viewOnly">
            <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getGames(searchText)" md-item-text="item" placeholder="+Game"><span md-highlight-text="searchText">{{item}}</span></md-autocomplete>
          </md-chips>
          <md-chip ng-if="item.games.length === 0 &amp;&amp; viewOnly">None</md-chip>
        </div>
        <h3 class="md-subhead">Characters Used</h3>
        <div layout="row" class="input-row">
          <md-chips ng-model="item.characters" secondary-placeholder="Add characters" placeholder="+Character" required="required" md-autocomplete-snap="md-autocomplete-snap" readonly="viewOnly">
            <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getCharacters(searchText)" md-item-text="item" placeholder="+Character"><span md-highlight-text="searchText">{{item}}</span></md-autocomplete>
          </md-chips>
          <md-chip ng-if="item.characters.length === 0&amp;&amp; viewOnly">None</md-chip>
        </div>
      </form>
    </md-dialog-content>
    <div ng-if="!viewOnly" class="md-actions">
      <md-button ng-click="addItem()" ng-disabled="item.form.$invalid" aria-label="submit" class="md-primary">{{label}} Player</md-button>
      <md-button ng-click="cancel()" aria-label="cancel" class="md-primary">Cancel</md-button>
    </div>
    <div ng-if="viewOnly" class="md-actions">
      <md-button ng-click="cancel()" aria-label="close" class="md-primary">Close</md-button>
    </div>
  </md-dialog>
</script>
<script type="text/ng-template" id="/dialog/input-prompt">
  <md-dialog>
    <md-dialog-content>
      <h2 class="md-title">{{title}}</h2>
      <p ng-if="form.$submitted &amp;&amp; form.$invalid" layout="row" layout-align="start center" class="md-warn">
        <ng-md-icon icon="error"></ng-md-icon><span>&nbsp;All fields are required.</span>
      </p>
      <p ng-if="!isValid()" layout="row" layout-align="start center" class="md-warn">
        <ng-md-icon icon="error"></ng-md-icon><span>&nbsp;Set name taken.</span>
      </p>
      <form name="form" ng-submit="submit()">
        <div layout="row" class="input-row">
          <md-input-container flex="flex">
            <label>{{label}}</label>
            <input name="string" ng-model="string" md-maxlength="30" required="required"/>
          </md-input-container>
        </div>
      </form>
    </md-dialog-content>
    <div class="md-actions">
      <md-button ng-click="submit()" ng-disabled="form.$invalid || !isValid()" aria-label="submit" class="md-primary">Submit</md-button>
      <md-button ng-click="cancel()" aria-label="cancel" class="md-primary">Cancel</md-button>
    </div>
  </md-dialog>
</script>
<script type="text/ng-template" id="/dialog/select-prompt">
  <md-dialog>
    <md-dialog-content>
      <h2 class="md-title">{{title}}</h2>
      <p ng-if="form.$submitted &amp;&amp; form.$invalid" layout="row" layout-align="start center" class="md-warn">
        <ng-md-icon icon="error"></ng-md-icon><span>&nbsp;All fields are required.</span>
      </p>
      <form name="form" ng-submit="submit()">
        <div layout="row" class="input-row">
          <md-input-container flex="flex">
            <label>{{label}}</label>
            <md-select ng-model="string" required="required">
              <md-optgroup ng-repeat="group in groups" label="{{group}}">
                <md-option ng-repeat="value in selectableValues | filter:{group:group}">{{value.realName}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
      </form>
    </md-dialog-content>
    <div class="md-actions">
      <md-button ng-click="submit()" ng-disabled="form.$invalid" aria-label="submit" class="md-primary">Submit</md-button>
      <md-button ng-click="cancel()" aria-label="cancel" class="md-primary">Cancel</md-button>
    </div>
  </md-dialog>
</script>
<script type="text/ng-template" id="/dialog/share-prompt">
  <md-dialog>
    <md-dialog-content>
      <h2 class="md-title">Share "{{title}}"</h2>
      <form name="form" ng-submit="submit()">
        <div layout="row" class="input-row">
          <md-chips flex="flex" ng-model="sharedWith" secondary-placeholder="Share with users" placeholder="+User" md-require-match="true" md-autocomplete-snap="md-autocomplete-snap">
            <md-autocomplete flex="flex" required="required" md-selected-item="sharedwith" md-search-text="searchKey" md-items="user in getUser(searchKey)" md-item-text="user.name">
              <md-item-template><span>{{user.name}}</span></md-item-template>
              <md-not-found>No matches.</md-not-found>
            </md-autocomplete>
            <md-chip-template><span>{{$chip.name}}</span></md-chip-template>
          </md-chips>
        </div>
      </form>
    </md-dialog-content>
    <div class="md-actions">
      <md-button ng-click="submit()" aria-label="submit" class="md-primary">Submit</md-button>
      <md-button ng-click="cancel()" aria-label="cancel" class="md-primary">Cancel</md-button>
    </div>
  </md-dialog>
</script>