
script(type="text/ng-template", id="/dialog/addtournament")
  md-dialog

    md-dialog-content
      h2.md-title {{label}} Tournament

      p.md-warn(ng-if="item.form.$submitted && item.form.$invalid", layout="row", layout-align="start center")
        ng-md-icon(icon="error")
        span &nbsp;All fields are required.

      form(name="item.form", ng-submit="addItem()")
        .input-row(layout="row")
          md-input-container(flex)
            label Name
            input(name="name", ng-model="item.name", md-maxlength="30", required)

        .input-row(layout="row")
          md-input-container(flex)
            label Event
            md-select(ng-model="item.event", required)
              md-option(ng-repeat="event in allEvents", value="{{event.$id}}") {{event.name}}

        .input-row(layout="row")
          md-input-container(flex)
            label Game
            input(name="game", ng-model="item.game", required)

    .md-actions
      md-button.md-primary(ng-click="addItem()", ng-disabled="item.form.$invalid", aria-label="submit") {{label}} Tournament
      md-button.md-primary(ng-click="cancel()", aria-label="cancel") Cancel