
script(type="text/ng-template", id="/dialog/bracket-information")
  md-dialog

    .md-dialog-content
      h2.md-title Match {{ title }}

      md-list
        md-list-item.md-2-line(ng-repeat="player in players")
          .md-avatar.subhead {{ player.ordinal }}
          .md-list-item-text
            h3 {{ player.displayName }}
            Total Points Scored: {{ player.score }}
    .md-actions
      md-button.md-primary(ng-click="cancel()", aria-label="close") Close
