
script(type="text/ng-template", id="/dialog/results")
  md-dialog

    md-dialog-content
      h2.md-title Results for {{tournamentName}}

      md-list
        md-list-item.md-2-line(ng-repeat="result in results")
          .md-avatar.subhead {{toOrdinal(result.pos)}}
          .md-list-item-text
            h3 {{names[result.seed]}}
            p Wins: {{result.wins}}, Total Points Scored: {{result.for}}

    .md-actions
      md-button.md-primary(ng-click="cancel()", aria-label="close") Close