script(type="text/ng-template", id="/dialog/select-prompt")
  md-dialog

    .md-dialog-content
      h2.md-title {{title}}

      p.md-warn(ng-if="form.$submitted && form.$invalid", layout="row", layout-align="start center")
        ng-md-icon(icon="error")
        span &nbsp;All fields are required.

      form(name="form", ng-submit="submit()")
        .input-row(layout="row")
          md-input-container(flex)
            label {{label}}
            md-select(ng-model="string", required)
              md-optgroup(ng-repeat="group in groups", label="{{group}}")
                md-option(ng-repeat="value in selectableValues | filter:{group:group}", value="{{value}}") {{value.realName}}

    .md-actions
      md-button.md-primary(ng-click="submit()", ng-disabled="form.$invalid", aria-label="submit") Submit
      md-button.md-primary(ng-click="cancel()", aria-label="cancel") Cancel