
script(type="text/ng-template", id="/dialog/tournament-info")
  md-dialog
    form
      md-toolbar
        .md-toolbar-tools
          h2.md-title Tournament "{{ title }}"

      .md-dialog-content
        div(layout="column", layout-align="center start", layout-padding)
          div {{description}}

      .md-actions
        md-button.md-primary(ng-click="cancel()", aria-label="close") Close
