doctype html
html
   head
      title openchallenge
      link(rel="stylesheet", href="css/lib.min.css")
      link(rel="stylesheet", href="css/main.min.css")

   body
      script(src="js/lib.min.js")
      script(src="js/main.min.js")