.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.almost-max-height {
  height: 85%;
}

$round-column-width: 330px;
$match-column-width: 130px;

.subhead {
  font-size: 14px;
  font-weight: 500;
}

.round-header {
  position: fixed;
  width: $match-column-width;
  z-index: 11;
  text-align: center;
  background-color: #fff;
}

.max-height {
  height: 100%;
}

.header-bar {
  height: 70px;

  .md-title {
    margin-top: 10px;
  }
}

.pull-right { float: right; }
.pull-left { float: left; }

.match-area {
  margin-top: 24px;
}

.pointer {
  cursor: pointer;
}

.auto-vert-margin {
  margin-top: auto;
  margin-bottom: auto;
}

.match-column {
  width: $round-column-width;
  min-width: $round-column-width;
  max-width: $round-column-width;


  .match {
    min-height: 60px;

    &.unplayable {
      color: red;
    }

    &.complete {
      color: gray;
    }

    &.walkover {
      .confirm-score, .scores {
        visibility: hidden;
      }
    }

    .round-type {
      width: 60px;
      min-width: 60px;
      max-width: 60px;
      text-align: center;
    }

    .match-name {
      width: $match-column-width;

      .member {
        width: $match-column-width;
        max-width: $match-column-width;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        text-overflow: ellipsis;
      }
    }

    .confirm-score {
      cursor: pointer;
      width: 24px;
      min-width: 24px;
      max-width: 24px;
    }

    .score-container {
      width: 25px;

      .score-input {
        width: 25px;
        font-size: 12px;
        margin: 0;
        padding: 0;
      }

      .score-value {
        text-align: right;
      }
    }
  }
}

.player-bucket-list {
  .highlight:not(.sv-helper) {
  //md-list-item:not(.sv-helper):not(.sv-candidate):nth-child(4n),
  //md-list-item:not(.sv-helper):not(.sv-candidate):nth-child(4n+1) {
    background-color: #ccc;
  }
}

md-menu ng-md-icon:not(.no-transform) svg, md-menu-item ng-md-icon:not(.no-transform) svg {
  transform: translate3d(-10%, 35%, 0);
  line-height: 1;
}

md-data-table-toolbar > form {
  margin-left: 16px;
  margin-top: 25px;
}

md-data-table-toolbar > form > input {
  width: 100%;
  margin: 0;
  border: none;
  color: rgba(0, 0, 0, 0.87);
}
md-data-table-toolbar > form > input:focus {
  outline: none;
}

.abs-position-bottom-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

$paddings: top bottom left right;

@for $size from 1 to 11 {
  .padding-#{$size*5} { padding: #{$size*5}px }
  .margin-#{$size*5} { margin: #{$size*5}px }
  @each $padding in $paddings {
    .padding-#{$padding}-#{$size*5} { padding-#{$padding}: #{$size*5}px }
    .margin-#{$padding}-#{$size*5} { margin-#{$padding}: #{$size*5}px }
  }
}