script(type="text/ng-template", id="/tournaments/in-progress")

  .header-bar(layout="row", hide-sm)
    div(flex)

    .text-center.md-title(flex)
      span(ng-show="!ref.public && !hasAccess") Unavailable
      span(ng-show="ref.public || hasAccess") {{tournamentName}}{{trn.isDone() ? ' (Complete)' : ' (' + matchesLeft() + ' matches left)'}}

    .text-right.auto-vert-margin(flex, layout="row", layout-align="end center")
      .hide-underline(ng-show="ref.public && hasAccess")
        a.copy-url(data-clipboard-text="{{url}}")
          ng-md-icon.pointer.margin-left-10(size="20", icon="link")
        a(ng-click="share('facebook')")
          ng-md-icon.pointer.margin-left-10(size="20", icon="facebook")
        a(ng-click="share('twitter')")
          ng-md-icon.pointer.margin-left-10(size="20", icon="twitter")
        a(ng-click="share('google')")
          ng-md-icon.pointer.margin-left-10.margin-right-10(size="20", icon="google-plus")

  .header-bar(layout="row", hide-gt-sm)
    .text-center.md-title(flex)
      span(ng-show="!ref.public && !hasAccess") Unavailable
      span(ng-show="ref.public || hasAccess") {{tournamentName}}{{trn.isDone() ? ' (Complete)' : ' (' + matchesLeft() + ' matches left)'}}

  // these are for mobile browsers (ie, touch-enabled) only - they do not work (well) on small desktop browsers
  .abs-position-bottom-right(ng-click="isOpen = true", hide-gt-sm)

    md-fab-speed-dial.md-scale(md-direction="left", md-open="isOpen")
      md-fab-trigger.align-with-text
        md-button.md-fab.md-primary.hidden(aria-label="hidden")

      md-fab-actions(ng-if="isOpen && ref.public")
        md-button.md-fab.md-mini.md-raised.md-accent.md-hue-1.copy-url(data-clipboard-text="{{url}}", aria-label="share by link")
          ng-md-icon(size="24", icon="link", style="fill: white")
          md-tooltip(md-direction="top") Copy link to clipboard

        md-button.md-fab.md-mini.md-raised.md-accent.md-hue-1(aria-label="share on facebook", ng-click="share('facebook')")
          ng-md-icon(size="24", icon="facebook", style="fill: white")
          md-tooltip(md-direction="top") Share on facebook

        md-button.md-fab.md-mini.md-raised.md-accent.md-hue-1(aria-label="share on twitter", ng-click="share('twitter')")
          ng-md-icon(size="24", icon="twitter", style="fill: white")
          md-tooltip(md-direction="top") Share on twitter

        md-button.md-fab.md-mini.md-raised.md-accent.md-hue-1(aria-label="share on google plus", ng-click="share('google')")
          ng-md-icon(size="24", icon="google-plus", style="fill: white")
          md-tooltip(md-direction="top") Share on google plus

  .abs-position-bottom-right(ng-click="isOpen = true", ng-mouseleave="isOpen = false")

    md-fab-speed-dial.md-scale(md-direction="up", md-open="isOpen", ng-if="trn")
      md-fab-trigger.align-with-text

        md-button.md-fab.md-primary(aria-label="menu or results", ng-click="doOrOpen($event)", ng-mouseenter="isOpen = true")
          ng-md-icon(size="24", icon="{{isOpen && trn.isDone() ? 'assessment' : 'menu'}}", style="fill: white")
          md-tooltip(md-direction="left", ng-show="isOpen && trn.isDone()") View results

      md-fab-actions(ng-if="isOpen")
        md-button.md-fab.md-raised.md-accent(aria-label="toggle public", ng-click="ref.public = !ref.public; savePublicity()", ng-if="hasAccess")
          ng-md-icon(size="24", icon="{{ref.public ? 'lock' : 'lock_open'}}", style="fill: white")
          md-tooltip(md-direction="left") Make {{ref.public ? 'private' : 'public'}}

        md-button.md-fab.md-raised.md-warn(aria-label="change options", ng-click="changeOptions()", ng-if="trn.state.length === 0")
          ng-md-icon(size="24", icon="edit", style="fill: white")
          md-tooltip(md-direction="left") Change tournament options

        md-button.md-fab.md-raised.md-warn(aria-label="reset", ng-click="reset($event)", ng-if="hasAccess")
          ng-md-icon(size="24", icon="history", style="fill: white")
          md-tooltip(md-direction="left") Reset tournament

  md-content.scroller.duel-area(md-scroll, flex, layout="column", ng-include="'tournament-'+includedTemplate", ng-if="hasAccess || ref.public", ng-class="{ 'big-scores': ref.options.bigScore }")
  md-content(flex, layout="row", layout-align="center center", ng-include="'tournament-noaccess'", ng-if="!hasAccess && !ref.public")
