script(type="text/ng-template", id="/tournaments/in-progress")

  .header-bar(layout="row")
    div(flex, layout="row", layout-align="center center")
      div(flex)
        md-button.md-warn.md-raised(ng-show="hasAccess", ng-click="reset($event)", aria-label="reset") Reset
      div(flex, ng-if="trn.isDone()")
        md-button.md-primary.md-raised(ng-click="showResults($event)", aria-label="show results") Results
      div(flex, ng-if="false")
        md-button.md-accent.md-raised(flex, ng-click="toPDF()", aria-label="pdf") PDF
      md-switch(flex, ng-show="hasAccess", ng-model="ref.public", ng-change="savePublicity()", aria-label="public") Public

    .text-center.md-title(flex)
      span(ng-show="!ref.public && !hasAccess") Unavailable
      span(ng-show="ref.public || hasAccess") {{tournamentName}}{{trn.isDone() ? ' (Complete)' : ' (' + matchesLeft() + ' matches left)'}}
    .text-right.auto-vert-margin(flex, layout="row", layout-align="end center")
      .hide-underline(ng-show="ref.public && hasAccess")
        a#copy-url(data-clipboard-text="{{url}}")
          ng-md-icon.pointer.margin-left-10(size="20", icon="link")
        a(target="_blank", ng-href="https://twitter.com/home?status={{url}}")
          ng-md-icon.pointer.margin-left-10(size="20", icon="twitter")
        a(target="_blank", ng-href="https://www.facebook.com/sharer/sharer.php?u={{url}}")
          ng-md-icon.pointer.margin-left-10(size="20", icon="facebook")
        a(target="_blank", ng-href="https://plus.google.com/share?url={{url}}")
          ng-md-icon.pointer.margin-left-10.margin-right-10(size="20", icon="google-plus")

  md-content.scroller.duel-area(md-scroll, flex, layout="column", ng-include="'tournament-'+includedTemplate", ng-if="hasAccess || ref.public")
  md-content(flex, layout="row", layout-align="center center", ng-include="'tournament-noaccess'", ng-if="!hasAccess && !ref.public")
