script(type="text/ng-template", id="/home")
  div(layout="row", flex="10")
    div(flex)
      .text-center.padding-top-20 TournamentMango is a great way to manage your tournaments. It supports many features.

  .text-center.max-width-1200(layout-gt-sm="row", layout="column", flex, layout-wrap)
    .text-center.padding-50(flex-gt-sm="33", flex-sm="40", ng-repeat="block in blocks")
      ng-md-icon(icon="{{block.icon}}", size="100", ng-if="!block.link")
      .md-title {{block.name}}
      p(ng-bind-html="block.info | rawHtml")
