script(type="text/ng-template", id="/home")
  div(layout="row", flex)
    div(flex)
      .text-center.padding-top-20 OpenChallenge is a great way to manage your tournaments. It supports many features.

  .text-center(layout-gt-sm="row", layout="column", flex)
    .text-center.padding-50(flex-gt-sm="33", flex-sm="100", ng-repeat="block in blocks")
      ng-md-icon(icon="{{block.icon}}", size="100")
      .md-title {{block.name}}
      p {{block.info}}