
script(type="text/ng-template", id="navbar")
  .md-toolbar-tools
    md-button(hide-gt-sm, ng-if="sidebar.hasSidebar", ng-click="toggleList()", aria-label="Toggle Menu")
      ng-md-icon(icon="menu")
    h1
      a(ui-sref="home") OpenChallenge

    span(flex)

    md-menu(ng-if="!userStatus.loggedIn")
      md-button(ng-click="$mdOpenMenu($event)") Login
      md-menu-content
        md-menu-item(ng-repeat="login in auth.loginTypes")
          md-button(ng-click="auth.doLogin(login.name)")
            ng-md-icon(icon="{{login.icon}}", size="24")
            span &nbsp;Login with {{login.name}}

    span(ng-if="userStatus.loggedIn")
      ng-md-icon(icon="{{ connected ? 'signal_wifi_4_bar' : 'signal_wifi_off'}}", size="24", style="fill: white")
        md-tooltip Currently {{ connected ? 'online' : 'offline' }}

    md-menu(ng-if="userStatus.loggedIn")
      md-button(ng-click="$mdOpenMenu($event)") {{userStatus.displayName}}
      md-menu-content
        md-menu-item
          md-button(ui-sref="userManage")
            ng-md-icon(icon="group", size="24")
            span &nbsp;Player Panel

        md-menu-item
          md-button(ng-click="auth.doLogout()")
            ng-md-icon(icon="logout", size="24")
            span &nbsp;Logout