
script(type="text/ng-template", id="/tournament-sidebar")
  md-toolbar
    .md-toolbar-tools Navigation
  md-list
    md-list-item.md-2-line(ng-click="navigateTo('userManage')")
      ng-md-icon.md-avatar(icon="group", size="36")
      .md-list-item-text
        span Player Panel
        p Manage players

    md-list-item.md-2-line(ng-click="navigateTo('eventManage')")
      ng-md-icon.md-avatar(icon="assignment", size="36")
      .md-list-item-text
        span Event Panel
        p Manage events

    md-list-item.md-2-line(ng-click="navigateTo('tournamentManage')")
      ng-md-icon.md-avatar(icon="merge_type", size="36")
      .md-list-item-text
        span Tournament Panel
        p Manage tournaments

    md-list-item.md-2-line(ng-click="navigateTo('userSettings')")
      ng-md-icon.md-avatar(icon="settings", size="36")
      .md-list-item-text
        span Settings
        p User ID, Export, Import