
script(type="text/ng-template", id="/tournament-sidebar")
  md-list
    md-list-item.md-2-line(ui-sref="userManage")
      .md-list-item-text
        ng-md-icon(icon="group", size="24")
        h3 User Panel