
script(type="text/ng-template", id="/tournament-sidebar")
  md-toolbar
    .md-toolbar-tools Navigation
  md-list
    md-list-item.md-2-line(ng-click="navigateTo('userManage')")
      ng-md-icon.md-avatar(icon="group", size="36")
      .md-list-item-text
        span Player Panel
        p Manage players

  md-list(ng-repeat="event in events")
    md-list-item.md-2-line
      ng-md-icon.md-avatar(icon="assignment", size="36")
      .md-list-item-text
        span {{event.name}}
        p Created a while ago

    md-list-item.md-2-line(ng-repeat="tournament in event.tournaments", ng-if="!event._isCollapsed")
      .md-list-item-text.md-offset
        h3 {{tournament.name}}
        p Smash 4